.intro{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0;
    z-index: 100;
    animation: stay;
    transition: linear;
    animation-duration: 3.7s;
}
@keyframes stay{
    0%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.intro-body{
    background-color: black;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: center;
}
.animate{
    animation: splash;
    animation-duration: 3.7s;
    height: 100vh;
    opacity: 1;
    transition: 1s cubic-bezier(1, 0, 0, 0);
}
@keyframes splash {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    10%{
        transform: scaleY(1);
        opacity: 1;
    }
    90%{
        transform: scaleY(1);
        opacity: 1;
    }
    100%{
        transform: scaleY(0);
        opacity: 1;
    }
}

.specsframe{
    height: 8vw;
    opacity: 0;
    animation: specsframe-visible;
    animation-delay: .3s;
    animation-duration: 3s;
}

@keyframes specsframe-visible{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    15%{
        opacity: 1;
        transform: scale(2.2);
    }
    25%{
        opacity: 1;
        transform: scale(1.6);
    }
    95%{
        opacity: 1;
        transform: scale(2.5);
    }
    100%{
        opacity: 1;
        transform: scale(0);
    }
}
