.l{
    cursor: pointer;
}
.mainpage-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.cms{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.fadeIn{
    opacity: 1;
    position: relative;
    animation: fade infinite 1s forwards;
}


@keyframes fade {
    0% {
      transform: scale(1);
      bottom: 0vh;
    }
    
    50% {
        transform: scale(1.5);
        bottom: .5vh;
    }
  
    100% {
        transform: scale(1);
        bottom: 0vh;
    }
  }


  /*     navbar     */

  .navbar{
      position: fixed;
      display: flex;
      height: calc(2vw + 45px);
      padding: 1.3vh;
      align-items: center;
      width: 90%;
      z-index: 5;
      padding: 0% 10%;
      justify-content: space-between;
      transition: .4s ease-out;
      
  }
    .navbar img{
        width: calc(4vw + 70px);
        filter: contrast(45%)  hue-rotate(20deg);
    }
    .links{
        display: inherit;
        width: 65vw;
        font-size: calc(.7vw + 7px);
        justify-content: space-evenly;
    }
        .nav_link{
            color: #a0a0a0;
            font-weight: 700;
        }
    .menu{
        font-size: calc(4vw + 12px);
        color: #a0a0a0;
        display: none;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .mob_links{
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(2vw + 45px);
        background-color: rgb(255, 255, 255);
        padding: 0;
        font-size: 4vw;
        justify-content: center;
        align-items: center;
        height: 91vh;
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
        .mob_links .nav_link{
            margin: 2vh auto;
        }
    
@media only screen and (max-width: 551px) {
    .menu{
        display: block;
    }
    .links{
        display: none;
    }
}

/* --------- Contact ----------*/

.message_icon{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85vh;
    background-color: white;
    left: 90vw;
    height: 60px;
    cursor: pointer;
    width: 60px;
    border-radius: 50%;
    box-shadow: rgb(161, 161, 161) 0px 0px 10px;
}

.chat_section{
    position: fixed;
    bottom:15vh;
    right: 10vw;
    height: 30vw;
    width: 22vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 218, 209);
    align-items: center;
    border-radius: 10px;
}
.chat_header{
    height: 3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 85, 43);
}
.chat_section form{
    display: flex;
    height: 4vw;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.input{
    width: 15vw;
    resize: none;
    border-radius: 5px;
    border: gray solid 2px;
}

.chat_section form .send_button{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color:rgb(255, 85, 43);
    color: white;
    font-size: 1.6vw;
    cursor: pointer;
}
.chat{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 23vw;
    width: 90%;
}
.chats{
    position: relative;
    display: flex;
    max-width: max-content;
    padding: .2vw .7vw;
    text-align: left;
    border-top-right-radius: 10px;
    border-radius: 10px;
    margin-bottom: .5vh;
}