.l{
    cursor: pointer;
}
.mainpage-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.mainpage-body p{
    font-size: 5.5vw;
    font-weight: 900;
    color: #12bbf1;
    margin: .1rem;
    font-family: 'Courier New', Courier, monospace;
}
.cms{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 200vh;
    top: 40vh;
}

.fadeIn{
    opacity: 1;
    position: relative;
    animation: fade infinite 1s forwards;
}


@keyframes fade {
    0% {
      transform: scale(1);
      bottom: 0vh;
    }
    
    50% {
        transform: scale(1.5);
        bottom: .5vh;
    }
  
    100% {
        transform: scale(1);
        bottom: 0vh;
    }
  }


  /*     navbar     */

  .navbar{
      position: fixed;
      display: flex;
      height: calc(2vw + 45px);
      padding: 1.3vh;
      align-items: center;
      background-color: #ffffff;
      width: 90%;
      padding: 0% 10%;
      justify-content: space-between;
      transition: .4s ease-out;
      
  }
    .navbar img{
        width: calc(4vw + 70px);
    }
    .links{
        display: inherit;
        width: 65vw;
        font-size: calc(.7vw + 7px);
        justify-content: space-evenly;
    }
        .nav_link{
            color: #a0a0a0;
            font-weight: 700;
        }
    .menu{
        font-size: calc(4vw + 12px);
        color: #a0a0a0;
    }
    .mob_links{
        position: absolute;
        width: 60%;
        left: 0;
        top: calc(2vw + 45px);
        background-color: white;
        padding: 0;
        font-size: 5vw;
        align-items: center;
        background-color: rgb(255, 255, 255);
        height: 91vh;
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
        .mob_links .nav_link{
            margin: 2vh auto;
        }