/****** REVIEWS ******/









    /**review**/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
#reviews{
    padding-top: calc(2vw + 45px);
}
    .review-container{
        max-width: 75%;
        border-radius: 15px;
        padding: 5%;
        color: rgb(0, 0, 0);
        text-align: left;
        margin: 1vh 3vw;
    }
    .review-container .name{
        font-family: 'Dosis', sans-serif;
        font-size: calc(12px+2vw);
    }
    .review-container .review{
        font-family: 'Nunito Sans', sans-serif;
        font-size: calc(10px + 1vw);
    }
    .review-heading{
        color: grey;
        margin: 2vh 5vw;
    }

    /********* Gallery *********/
    .brands{
        margin-bottom: 4vh;
    }
    .brands li{
        list-style: none;
    }
    .brands li img{
        width: 20vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }